* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .wrap {
    width:100% ;
    /* height: auto; */
    /* background-color: #f9fafb; */
    display: flex;
    /* overflow-x: hidden; */
  }