.contyi {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cadeef;
}
.req {
  color: red;
  font-weight: 900;
}
.error {
  color: red;
  font-weight: 600;
  padding: 3px;
  font-size: small;
}
.generator {
  display: flex;
  flex-direction: column;
  padding-left: 55px;
  margin-bottom: 10px;
}
/* .input {
  background-color: black;
  color: blanchedalmond;
  width: 350px;
  border-style: none;
  border-radius: 5px;
  padding: 10px 20px;
} */
/* .btn {
  margin-top: 20px;
  margin-left: 55px;
  font-weight: 600;
  cursor: pointer;
  color: black;
}

label {
  color: black;
  margin-bottom: 5px;
} */
/* .wrapper {
  width: 500px;
  min-height: 450px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 25px; */
/* box-sizing: border-box; */
/* box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.8);
  transition: transform 2s;
  transform-style: preserve-3d;
  /* position: relative; 
  background-color: #9bd4e4;
} */
.input {
  background-color: black;
  color: blanchedalmond;
  width: 340px;
  border-style: none;
  border-radius: 5px;
  padding: 10px 20px;
}
label {
  /* color: black; */
  background-color: transparent;
  margin-bottom: 5px;
  color: #fff;
}
.wrapper {
  min-width: 450px;
  /* flex: 1; */
  /* min-height: 450px; */
  /* background: rgba(0, 0, 0, 0.8); */
  border-radius: 5px;
  padding-top: 35px;
  padding-bottom: 20px;
  /* box-sizing: border-box; */
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.8);
  transition: transform 2s;
  transform-style: preserve-3d;
  /* position: relative; */
  /* background-color: #9bd4e4; */
  background-color: rgba(0, 0, 0, 0.4);
}

.wrapper.flipped {
  transform: rotateY(180deg);
}

.conta,
.flip {
  /* position: absolute; */
  width: 100%;
  /* height: 100%; */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip {
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 25px;
  /* top: 100px; */
  bottom: 300px;
  transform: rotateY(180deg);
}

.para {
  line-height: 25px;
  font-size: x-large;
  text-align: center;
  font-weight: bold;
  color: rgb(2, 2, 0);
}

.wrapper.shake {
  -webkit-animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

@-webkit-keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(8px, 0, 0);
    transform: translate3d(8px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-12px, 0, 0);
    transform: translate3d(-12px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(12px, 0, 0);
    transform: translate3d(12px, 0, 0);
  }
}

@keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(8px, 0, 0);
    transform: translate3d(8px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-12px, 0, 0);
    transform: translate3d(-12px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(12px, 0, 0);
    transform: translate3d(12px, 0, 0);
  }
}
